/*Estructura*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-style:oblique;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: darkslategray;
    gap:.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    border: #000 solid 2px;
}
body{
    height: 100%;
    width: 100%;
}
main{
    padding: 0.5rem;
    background-color: rgba(13, 70, 21, 0.863);
    border: #000 solid 2px;
}
footer{
    display:block;
    border: #000000 solid 2px;
    padding: .5rem;
    background-color: #4b849b;
    
}
footer>p{
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
    text-align: center;
}
#banner{
    height: 40vh;
    width: 90vw;
    border: solid 5px #000;
    display: flex;
    border-radius:15px;
    gap:0.5em;
    object-fit: cover;
    object-position: 50% 35%;
}
/*Estilos textos*/
h1{ 
    display: flex;
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", "serif Black"; 
    font-weight: bold; 
    font-size: 30px; 
    align-content: flex-end;
    color: #fff; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
h2{
    border:2px solid rgb(0, 0, 0);
    gap:.5em;
    padding: .5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: #4b849b;
    border-radius: 15px;
}
h3{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
p{
    color: rgb(0, 0, 0);
}
#email{
    color: hwb(249 10% 41%);
    padding: 0.5rem;
    display: inline;
}
/*Estilos de botones*/
#buttons{
    display:flex;
    gap:.5em;
    justify-content: center;
    margin-top: 1rem;
}
#buttons>a{
    color: rgb(255, 255, 255);
    background-color: rgb(44, 110, 136);
    border-radius:15px;
    border: 1px solid black;
    display: flex;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #000000b6;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    align-content: end;
    margin-left: 0.5rem;
}
#buttons>a:hover,#buttons>a:active,#buttons>a[href="#"]{
    background-color: rgb(63, 119, 46);
    color: white;
    border-radius:15px;
    border: 2px solid black;
    display: inline;
    text-decoration: none;
}
/*Estilos de imagenes*/
.imagen{
    max-width: 33%;
    opacity: 0.75;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    flex-grow: 1;
    z-index: 0 ;
    object-fit: cover;
}
.imagen:hover{
    opacity: 1;
    z-index: 1;
}
/*Estilo de container general*/
.container{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    border: #000000 solid 2px;
    background-color: gray;
    border-radius: 15px;
}
/*Estilos de secciones y Articulos*/
.articulos{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 2rem;
    text-align: center;
    gap: 1rem; 
}
article{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 1%;
    flex-grow: 1; 
}
/* Estilo de galeria*/
.Gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.Gallery>img{
    width: 33%;
    padding: 1%;
    object-fit: cover;
    border-radius: 3rem;
}
/*Estilo de listas*/
.reglas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    width: 66%;
    text-align: justify;
}
ul{
    list-style-type: circle;
    text-align: justify;
    padding: .5rem;
}
ol{
    list-style-type: decimal;
    text-align: justify;
    padding: .5rem;
    
}
dt{
    font-weight: bold;
    color: rgb(0, 0, 0); 
}
li{
    list-style-position: inside;
}
.decimal .alfabetica{
    list-style-type: lower-alpha;
    padding: .5rem;
    font-weight: normal;
}
.decimal p{
    font-weight: normal;
}
.decimal>li{
    font-weight: bold;
}
/*Estilo de subtitulos interinos*/
.subtitle{
justify-content: center;
align-items: center;
padding: .3rem;
margin: .5rem;
display: flex;
height: 3rem;
width: 100%;
}
/*Estilo de Tablas*/
#tablas{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: grey;
}
#tablas>div{
    background-color: #f5f5f5ab;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5rem;
    
}
table{
    table-layout: auto;
    border-collapse: separate;
}
th, td{
    padding: .5rem;
}
caption{
    caption-side: bottom;
    text-align: right;
    font-size: 15px;
    padding: .3rem;
}
/*Estilos de Mapas*/
#ubicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
}
.ubicacion{
    display: block;
    flex-wrap: wrap;  
    padding: .5rem;
    background-color: rgb(20, 116, 100);
    text-align: center;
    justify-content: center;
    gap: .5rem;
    border: #000 solid 2px;
    border-radius: 15px;
    
}
iframe{
    border-radius: 15px;
}
/*Estilos de formularios*/
.formulario{
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    padding: .5rem;
    background-color: grey;
    text-align: center;
    
}
.formulario>form>label{
    display: inline-block;
    padding: 0.5rem;
    
    background-color: brown;
    border: #000000 solid 1.5px;
     border-radius: 20px;
    text-align: center;
}
.formulario>form>input{
    display: block;
    padding: 0.7rem;
    width: 100%;
    background-color: green;
    border: #000000 solid 1.5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
fieldset{
    padding: .5rem;
    border: #000000 solid 1.5px;
    margin: .5rem;
    background-color: brown;
    border-radius: 20px;
    text-align: center;
}
fieldset>fieldset{
    border: none;
    display: inline-block;
    width: 50%;
    padding: .6rem;
}
fieldset>fieldset>legend{
    border:none;
    background: none;
    color: black;
}
legend{
    font-weight: bold;
    text-align: center;
    padding: .5rem;
    background-color: #000000;
    color: #ffffff;
    border: #000000 solid 1.5px;
    border-radius: 20px;
}
label{
    display: inline-block;
    padding: 0.5rem;
    background-color: brown;
    border: #000000 solid 1.5px;
    border-radius: 20px;
    text-align: center;
}